.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    max-width: 300px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-item img {
    max-width: 100%;
    max-height: 60vh; /* Set maximum image height to 60% of viewport height */
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-item h3 {
    margin: 10px 0;
    font-size: 1.8rem;
    color: #222;
}

.project-item p {
    margin: 0;
    font-size: 1.2rem;
    color: #777;
}
