@import 'src/assets/css/light-theme.css';

/* Navigation styles */
nav {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--nav-colour);
    color: white;
}


.logo {
    font-size: 1.5rem;
    margin-right: auto;
    padding: 10px;
    color: var(--secondary-color);
    background-color: inherit;
}


.nav-links {
    list-style-type: none;
    display: flex;
    background-color: var(--nav-colour);
}

.nav-links li {
    margin-right: 20px;
    background-color: inherit;
}

.nav-links a {
    background-color: inherit;
    text-decoration: none;
    color: white;
    font-weight: bold;
}