<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>
  <div class="app-container">
    <header>
      <app-loading-bar></app-loading-bar>
      <app-navbar></app-navbar>
    </header>

    <main class="main-content max-width-container">
      <router-outlet></router-outlet>
    </main>

    <footer>
      <p class="footer-message">&copy; 2023 meowty. All rights reserved.</p>
      <p class="footer-message">[This website is currently in development and active deployment, check back soon to see new changes!]</p>
    </footer>
  </div>
</body>

</html>