body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.contact-info {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.contact-info h1, .contact-info h2 {
    color: #333;
}

.contact-info p {
    margin-bottom: 10px;
    color: #666;
}

.contact-info a {
    color: #3498db;
    text-decoration: none;
}

.contact-info a:hover {
    color: #2980b9;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.indent-contact-element {
    margin-left: 2em;
}

.contact-info ul li {
    margin-bottom: 10px;
}