/* You can add global styles to this file, and also import other style files */

@import '~aos/dist/aos.css';
@import 'src/app/navbar/navbar.component.css';
@import 'src/assets/css/light-theme.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Application-wide Styles */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    font-family: 'Roboto', 'sans-serif';
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: var(--primary-color);
    background-color: var(--background-colour);
}

body,
input[type="text"],
button,
body {
    color: var(--primary-color);
    background-color: var(--background-colour);
}


footer,
.footer-message {
    color: var(--title-color);
    background-color: var(--nav-colour);
}

body,
p {
    color: var(--primary-color);
    background-color: transparent;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    /* This pushes the footer to the bottom */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* change scroll bar colour (broken) */
/* ::-webkit-scrollbar-thumb:hover {
    background-color: #E46A6B;
  }

::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
} */

.max-width-container {
    max-width: 1280px;
    /* Adjust the maximum width as needed */
    margin: auto auto;
    /* Center the content horizontally */
}

/* Footer styles */
footer {
    text-align: center;
    padding: 30px;
    width: 100%;
}

.button {
    font-size: 1.2rem;
    margin: 1rem;
    display: inline-block;
    padding: 10px 30px; /* Top and bottom padding of 10px, left and right padding of 30px */
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    font-weight: bold;
}

.button:hover {
    background-color: black;
}

.button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cta-button {
    animation: fadeInUp 0.8s ease both;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.feature {
    animation: zoomInRight 0.8s ease both;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    /* Initially hide the elements */
}

.contact-button {
    transition: background-color 0.3s ease;
}

/* Animate On Scroll styles */
[data-aos] {
    transition-property: opacity, transform;
    transition-duration: 0.8s;
}

[data-aos="fade-up"] {
    transform: translateY(50px);
    /* Initial position before animation */
}

/* Display elements when scrolled into view */
[data-aos].aos-animate {
    opacity: 1;
    transform: translateY(0);
}