@import 'src/assets/css/light-theme.css';

div {
    background-color: inherit;
}

/* .cta-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
} */

/* .cta-button:hover {
    background-color: #555;
    transform: scale(1.05);
} */

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-size: 3.5rem;
}

/* Features section styles */
section {
    height: 800px;
    padding: 100px 0;
    text-align: center;
    color: white;
}

.short-section {
    height: 300px;
    padding: 100px 0;
    text-align: center;
    color: white;
}

.features {
    background-color: var(--background-secondary-colour);
    display: flex;
    height: auto;
    justify-content: space-around;
    padding: 50px 0;
    flex-wrap: wrap;
}

.feature {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    justify-content: space-around;
    flex: 1;
    box-shadow: #0000001a 0px 5px 10px;
    background-color: #c7d1ff46;
}

.feature p,
h2 {
    margin-top: 1rem;
    color: var(--accent-color);
    background-color: transparent;
}

.feature:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.feature-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Hero section styles */
.hero {
    text-align: center;
    padding: 150px 0;
    color: white;
}

/* About section styles */
.about {
    background-color: var(--background-colour);
    text-align: center;
    padding: 100px 0;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Technologies section styles */
.technologies {
    padding: 100px 0;
}

.technology {
    text-align: center;
    margin-bottom: 30px;
}

/* Portfolio section styles */
.portfolio {
    padding: 100px 0;
    background-color: var(--background-secondary-colour);
    text-align: center;
}

.portfolio-item {
    background-color: inherit;
    margin-bottom: 40px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--title-color);
    background-color: transparent;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--title-color);
    background-color: transparent;
}

.feature h3 {
    color: var(--title-color);
}

/* Alternate the section colours */
.dark-section h1,
.dark-section h2,
.dark-section h3 {
    color: var(--title-color);
}

.light-section h1,
.light-section h2,
.light-section h3{
    color: var(--blue);
}

.light-section .button {
    color: var(--white);
    background-color: var(--background-secondary-colour);
}

.dark-section .button {
    color: var(--background-secondary-colour);
    background-color: var(--white);
}

/* Contact section styles */
.contact {
    padding: 100px 0;
    text-align: center;
    background-color: var(--background-colour);
}

/* .contact-button {
    background-color: var(--background-secondary-colour);
    display: inline-block;
    color: var(--white);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

.contact-button:hover {
    background-color: #ddd;
} */

/* Intro section styles */
.intro {
    background-color: var(--background-colour);
    text-align: center;
    padding: 100px 0;
}

.intro h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Projects section styles */
.projects {
    padding: 100px 0;
    text-align: center;
}

.project {
    text-align: left;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

/* About Me section styles */
.about-me {
    padding: 100px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.about-me p {
    font-size: 1.2rem;
    line-height: 1.6;
}