<div class="hero light-section">
    <h1>Welcome to My Advanced Example Website</h1>
    <p>Your Ultimate Online Experience Awaits</p>
    <a  routerLink="/home" class="button cta-button">Explore Now</a>
</div>


<section class="features dark-section">
    <div>
        <h2>Explore My Projects</h2>
        <p>Discover a variety of projects demonstrating my proficiency in different programming languages and technologies.</p>
    </div>
    <div>
        <h2>My Coding Journey</h2>
        <p>Follow my journey through various coding challenges, projects, and accomplishments in IT and computer science.</p>
    </div>
    <div>
        <h2>Skills & Expertise</h2>
        <p>Learn about my skills and expertise across different areas of computer science and technology.</p>
    </div>
    <div>
        <h2>Get in Touch</h2>
        <p>Feel free to reach out to discuss collaborations, projects, or opportunities.</p>
    </div>
</section>



<section class="about short-section light-section">
    <h2>About Me</h2>
    <p>I am a dedicated IT graduate with a passion for leveraging technology to drive innovation and transformation across various industries. My journey began with a curiosity...</p>
    <a  routerLink="/about" class="button cta-button">Explore My Story</a>
</section>


<section class="portfolio dark-section">
    <app-projects></app-projects>
</section>

<section class="skills light-section">
    <a routerLink="/skills"  class="button cta-button">Explore All Technologies</a>
</section>

<!-- !! reimplement this later (bug was that the images floated on top (or that the projects underlapped the images)) -->
<section class="features dark-section">
    <div class="feature"data-aos="zoom-in-right">
        <img class="feature-image" src="assets/images/image1.jpg" alt="Image 1">
        <h3>Interactive Image 1</h3>
        <p>This image animates as you scroll.</p>
    </div>
    <div class="feature"data-aos="zoom-in-right">
        <img class="feature-image" src="assets/images/image2.jpg" alt="Image 2">
        <h3>Interactive Image 2</h3>
        <p>Scroll to see the animation.</p>
    </div>
</section>
<section class="features dark-section">
    <div class="feature"data-aos="zoom-in-right">
        <img class="feature-image" src="assets/images/image3.jpg" alt="Image 3">
        <h3>Interactive Image 3</h3>
        <p>This image animates as you scroll.</p>
    </div>
    <div class="feature"data-aos="zoom-in-right">
        <img class="feature-image" src="assets/images/image4.jpg" alt="Image 4">
        <h3>Interactive Image 4</h3>
        <p>Scroll to see the animation.</p>
    </div>
</section>

<section class="contact light-section short-section">
    <h2>Let's Chat</h2>
    <p>If you're interested in my work or just want to share your own explorations, feel free to reach out. I'd
        love to connect!</p>
    <a href="mailto:melty.spam+git@outlook.com" class="light-section button">Get in Touch</a>
</section>