<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="skills">
    <h2>My Skills</h2>
    <ul>
        <li>
            <i class="fab fa-js-square"></i> JavaScript
        </li>
        <li>
            <i class="fab fa-python"></i> Python
        </li>
        <li>
            <i class="fab fa-java"></i> Java
        </li>
        <li>
            <i class="fab fa-csharp"></i> C#
        </li>
        <li>
            <i class="fas fa-code"></i> C
        </li>
        <li>
            <i class="fab fa-angular"></i> Angular
        </li>
        <li>
            <i class="fab fa-html5"></i> HTML
        </li>
        <li>
            <i class="fab fa-css3-alt"></i> CSS
        </li>

    </ul>
</div>